
@media(max-width:575px) and (min-width:0px) {
    .banner-center h1{
        color: rgb(255, 255, 255);
    }
    .navbar-light .navbar-nav .nav-link {
        margin-left: 0px;
        display: inline;
    }
    .nav-item{
        text-align: center;
        margin-bottom: 15px;
    }
    .phone{
        display: none;
    }
    .banner-center {
        text-align: center;
        margin: auto;
    }
    
form {
    width: 80%;
    bottom: -45%;

}
@media(max-width:1440px) and (min-width:1076px){
    .banner-center h1{
        color: rgb(0, 240, 72);
    }
}

@media(max-width:425px) and (min-width:0px){
    .btn-downloud {
        margin-right: 0px;
        margin-bottom: 15px;
    }
}